@font-face {
  font-family: Shapiro;
  src: url(/fonts/OGJ\ Type\ Design\ -\ Shapiro\ 35\ Feather\ Text.otf);
}

@font-face {
  font-family: Uniform Pro Regular;
  src: url(/fonts/UniformProXcon-Reg.ttf);
}

@font-face {
  font-family: Uniform Pro Bold;
  src: url(/fonts/UniformProXcon-Bld.ttf);
}

@font-face {
  font-family: Uniform Rounded;
  src: url(/fonts/Uniform\ Rounded.otf);
}
$h1-font: "Uniform Bold";
$h2-font: "Uniform";
$p-font: "Shapiro";
