@font-face {
    font-family: Shapiro;
    src: url(/fonts/OGJ\ Type\ Design\ -\ Shapiro\ 35\ Feather\ Text.otf)
}

@font-face {
    font-family: Uniform;
    src: url(/fonts/Uniform\ Condensed.ttf)
}

@font-face {
    font-family: Uniform Bold;
    src: url(/fonts/Uniform\ Condensed\ Bold.ttf)
}


@font-face {
    font-family: Uniform Black;
    src: url(/fonts/Uniform\ Condensed\ Black.ttf)
}

@font-face {
    font-family: Uniform Ultra;
    src: url(/fonts/Uniform\ Condensed\ Ultra.ttf)
}

@font-face {
    font-family: Uniform Medium;
    src: url(/fonts/Uniform\ Condensed\ Medium.ttf)
}

@font-face {
    font-family: Uniform Light;
    src: url(/fonts/Uniform\ Condensed\ Light.ttf)
}